* {
    margin: 0;
    padding: 0;
}

body {
    background-color: bisque;
}
.title {
    text-align: center;
    background-color: rgb(167, 114, 215);
    border-radius: 9px;
}

.reset {
    background-color: rgb(211, 200, 200);
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 90px;
    border-radius: 10px;
}

.npass {
    
    margin-left: 10%;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
    
}

.cpass {
    margin-left: 10%;
    width: 70%;
    padding: 2%;
    border-radius: 5px;
}

.btn {
    width: 40%;
    margin-left: 40px;
    border-radius: 5px;
    padding: 1%;
    background-color: aquamarine;
}

.cancel {
   
    color: rgb(226, 226, 240);
    background-color: rgb(168, 91, 231);
    padding: 1%;
    border-radius: 5px;
}

.ptag{
    margin-left: 30px;
}